In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
#reading click_train data
#click_train = pd.read_csv('click_train.csv')
#reading click test data
click_test = pd.read_csv('click_test.csv')
click_test['result'] = 0
#
def random_permutation(n):
    result = []
    for i in range(n):
        result.append(i)
    for i in range(n):
        r = np.random.randint(n-i)
        t = result[i]
        result[i] = result[i+r]
        result[i+r] = t
    return result
#
#click_test.sort_values(by=['displayId'], inplace=True)
click_test_gp = click_test.groupby(['displayId'])
num_of_slots = click_test_gp.apply(lambda f: len(f['displayId']))

In [3]:
num_of_slots.head(10)

displayId
151650    3
151938    6
171024    2
171025    2
187341    4
188283    2
192056    4
197052    3
198557    4
200025    5
dtype: int64

In [4]:
results = []
displayIds = []
adIds = []
for name,group in click_test_gp:
    random_ans = random_permutation(num_of_slots[name]) 
    in_group_idx = 0
    for idx,row in group.iterrows():
        row["result"] = random_ans[in_group_idx]+1
        in_group_idx += 1 
        adIds.append(row["adId"])
        displayIds.append(row["displayId"])
        results.append(row["result"])

In [5]:
df = pd.DataFrame( {'displayId' : displayIds , 'addId' : adIds , 'result' : results} ) 
df.head()

   displayId  addId  result
0     151650   7585       2
1     151650   6257       3
2     151650   6690       1
3     151938   7454       1
4     151938   7370       6

In [6]:
df.to_csv("result.csv", header=None, index=False)