In [1]:
import pandas as pd
import numpy as np

In [2]:
df_ev = pd.read_csv('event.csv')
df_uv = pd.read_csv('user_page_view.csv')

In [52]:
df_pg = pd.read_csv('page.csv')

In [3]:
df_ev.head()

   displayId      timestamp   pageId  widgetId   userId  device  OS  browser
0    4706262  1578429005696  3543873      6262  2688642       0   0        0
1    4706267  1578429007726  6245475       607  2688641       1   3        0
2    4706260  1578429012060  4416499     11458  2688638       0   0        1
3    4706255  1578429017218  6246028      9358  1962852       0   0        0
4    4706256  1578429021388  5327047      9358  2687719       0   0        0

In [4]:
df_uv.head()

    userId   pageId      timestamp
0   821961     8116  1579599211445
1    15321  9533442  1579599211443
2  1125090  9410379  1579599211440
3   407101  8616213  1579599211429
4   781615  9543366  1579599211429

In [53]:
df_pg.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10779259 entries, 0 to 10779258
Data columns (total 3 columns):
pageId       int64
website      int64
publisher    int64
dtypes: int64(3)
memory usage: 246.7 MB

In [54]:
df_pg['pageId'].nunique()

10779259

In [55]:
df_uv['pageId'].nunique()

1265521

In [56]:
df_ev['pageId'].nunique()

188417

In [27]:
df_uvg = df_uv.groupby(['userId','pageId']).agg({'timestamp':'count'}).reset_index()

In [42]:
df_evg = df_ev.groupby(['userId','pageId']).agg({'timestamp':'count'}).reset_index()

In [57]:
df_evg.rename(columns={'timestamp': 'click_number'}, inplace=True)
df_evg.sample(10)

         userId   pageId  click_number
409842   966002  9236347             1
285546   653019  9742835             1
937645  2619089  6293869             1
653449  1730421  7776612             1
337358   777770  9575312             1
811749  2213276     5946             1
562496  1445179  8249519             1
492968  1214949  6591079             1
807092  2192533  4141373             1
476938  1172174  8927437             1

In [33]:
df_uvg.rename(columns={'timestamp': 'visit_number'}, inplace=True)
df_uvg.sample(10)

           userId   pageId  visit_number
19781769  1409137  6291819             1
13387778   841211  7214157             1
11660574   709309  7802536             1
18576901  1296653  9204744             1
16547593  1120448  8771568             1
10349837   629316  1171538             2
6646907    375355  6312049             1
23159736  1759730      332             1
28631495  2423841  8873807             2
9948252    601280  8454454             1

In [51]:
df_uvg['visit_number'].max()

15287

In [58]:
df_new = pd.merge(df_evg, df_uvg, how = 'inner', on = ['pageId','userId'])

In [40]:
df_new.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 835634 entries, 0 to 835633
Data columns (total 9 columns):
displayId       835634 non-null int64
timestamp       835634 non-null int64
pageId          835634 non-null int64
widgetId        835634 non-null int64
userId          835634 non-null int64
device          835634 non-null int64
OS              835634 non-null int64
browser         835634 non-null int64
visit_number    835634 non-null int64
dtypes: int64(9)
memory usage: 63.8 MB

In [60]:
df_new.sample(10)

         userId   pageId  click_number  visit_number
293792  1292744  7364449             2             5
154609   865298  9000588             1             1
223743  1077655  8584670             1             1
449493  1796480  6996524             1             1
23509    140787  6376615             1             2
506307  1964083    21048             1             2
303918  1319126  7748115             1             2
569884  2143559  4094218             1             2
640101  2368966    31814             1             1
58294    366370  8533409             1             2