In [1]:
import pandas as pd
import numpy as np

In [2]:
df_uf = pd.read_csv('user_feature.cvs')
df_uf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18361114 entries, 0 to 18361113
Data columns (total 6 columns):
Unnamed: 0      int64
userId          int64
topicId         int64
VC              float64
visit_number    int64
like_point      float64
dtypes: float64(2), int64(4)
memory usage: 840.5 MB

In [3]:
df_new_uf = df_uf.drop(columns = ['Unnamed: 0','VC','visit_number'])
df_new_uf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18361114 entries, 0 to 18361113
Data columns (total 3 columns):
userId        int64
topicId       int64
like_point    float64
dtypes: float64(1), int64(2)
memory usage: 420.3 MB

In [4]:
del(df_uf)

In [5]:
arr = pd.DataFrame(df_new_uf['topicId'].drop_duplicates()).reset_index()
arr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 2 columns):
index      50 non-null int64
topicId    50 non-null int64
dtypes: int64(2)
memory usage: 928.0 bytes

In [6]:
arr['index'] = arr['topicId']
arr['topicId'] = arr['topicId'].astype('object')
arr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 2 columns):
index      50 non-null int64
topicId    50 non-null object
dtypes: int64(1), object(1)
memory usage: 928.0+ bytes

In [7]:
df_inx = pd.get_dummies(arr)
df_inx.head(10)

,index,topicId_0,topicId_1,topicId_2,topicId_3,topicId_4,topicId_5,topicId_6,topicId_7,topicId_8,...,topicId_40,topicId_41,topicId_42,topicId_43,topicId_44,topicId_45,topicId_46,topicId_47,topicId_48,topicId_49
0,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,3,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,4,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,5,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,7,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
7,8,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
8,10,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,11,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [8]:
df_inx.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 51 columns):
index         50 non-null int64
topicId_0     50 non-null uint8
topicId_1     50 non-null uint8
topicId_2     50 non-null uint8
topicId_3     50 non-null uint8
topicId_4     50 non-null uint8
topicId_5     50 non-null uint8
topicId_6     50 non-null uint8
topicId_7     50 non-null uint8
topicId_8     50 non-null uint8
topicId_9     50 non-null uint8
topicId_10    50 non-null uint8
topicId_11    50 non-null uint8
topicId_12    50 non-null uint8
topicId_13    50 non-null uint8
topicId_14    50 non-null uint8
topicId_15    50 non-null uint8
topicId_16    50 non-null uint8
topicId_17    50 non-null uint8
topicId_18    50 non-null uint8
topicId_19    50 non-null uint8
topicId_20    50 non-null uint8
topicId_21    50 non-null uint8
topicId_22    50 non-null uint8
topicId_23    50 non-null uint8
topicId_24    50 non-null uint8
topicId_25    50 non-null uint8
topicId_26    50 non-null uint8
topicId_27    50 non-null uint8
topicId_28    50 non-null uint8
topicId_29    50 non-null uint8
topicId_30    50 non-null uint8
topicId_31    50 non-null uint8
topicId_32    50 non-null uint8
topicId_33    50 non-null uint8
topicId_34    50 non-null uint8
topicId_35    50 non-null uint8
topicId_36    50 non-null uint8
topicId_37    50 non-null uint8
topicId_38    50 non-null uint8
topicId_39    50 non-null uint8
topicId_40    50 non-null uint8
topicId_41    50 non-null uint8
topicId_42    50 non-null uint8
topicId_43    50 non-null uint8
topicId_44    50 non-null uint8
topicId_45    50 non-null uint8
topicId_46    50 non-null uint8
topicId_47    50 non-null uint8
topicId_48    50 non-null uint8
topicId_49    50 non-null uint8
dtypes: int64(1), uint8(50)
memory usage: 3.0 KB

In [9]:
del(arr)

In [10]:
df_inx.rename(columns = {'index':'topicId'}, inplace = True)
df_inx.head(10)

,topicId,topicId_0,topicId_1,topicId_2,topicId_3,topicId_4,topicId_5,topicId_6,topicId_7,topicId_8,...,topicId_40,topicId_41,topicId_42,topicId_43,topicId_44,topicId_45,topicId_46,topicId_47,topicId_48,topicId_49
0,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,3,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,4,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,5,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,7,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
7,8,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
8,10,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,11,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [11]:
df_new_uf['like_point'] = df_new_uf['like_point'] * 100

In [12]:
df_new_uf['like_point'] = df_new_uf['like_point'].astype('unit8')
df_new_uf.head(10)

   userId  topicId  like_point
0       8        0          70
1       8        1           3
2       8        2          11
3       8        3          12
4       8        4          41
5       8        5           7
6       8        7          16
7       8        8           8
8       8       10          18
9       8       11          43

In [13]:
df_uf = pd.merge(df_new_uf, df_inx, how = 'inner', on = 'topicId')
df_uf.head()

,userId,topicId,like_point,topicId_0,topicId_1,topicId_2,topicId_3,topicId_4,topicId_5,topicId_6,...,topicId_40,topicId_41,topicId_42,topicId_43,topicId_44,topicId_45,topicId_46,topicId_47,topicId_48,topicId_49
0,8,0,70,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,30,0,10,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,47,0,6,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,49,0,2,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,51,0,25,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [14]:
df_uf.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 18361114 entries, 0 to 18361113
Data columns (total 53 columns):
userId        int64
topicId       int64
like_point    int32
topicId_0     uint8
topicId_1     uint8
topicId_2     uint8
topicId_3     uint8
topicId_4     uint8
topicId_5     uint8
topicId_6     uint8
topicId_7     uint8
topicId_8     uint8
topicId_9     uint8
topicId_10    uint8
topicId_11    uint8
topicId_12    uint8
topicId_13    uint8
topicId_14    uint8
topicId_15    uint8
topicId_16    uint8
topicId_17    uint8
topicId_18    uint8
topicId_19    uint8
topicId_20    uint8
topicId_21    uint8
topicId_22    uint8
topicId_23    uint8
topicId_24    uint8
topicId_25    uint8
topicId_26    uint8
topicId_27    uint8
topicId_28    uint8
topicId_29    uint8
topicId_30    uint8
topicId_31    uint8
topicId_32    uint8
topicId_33    uint8
topicId_34    uint8
topicId_35    uint8
topicId_36    uint8
topicId_37    uint8
topicId_38    uint8
topicId_39    uint8
topicId_40    uint8
topicId_41    uint8
topicId_42    uint8
topicId_43    uint8
topicId_44    uint8
topicId_45    uint8
topicId_46    uint8
topicId_47    uint8
topicId_48    uint8
topicId_49    uint8
dtypes: int32(1), int64(2), uint8(50)
memory usage: 1.3 GB

In [15]:
del(df_new_uf)

In [19]:
for i in range(3,53):
    df_uf.iloc[:,i] = df_uf.iloc[:,i] * df_uf['like_point']
df_uf.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 18361114 entries, 0 to 18361113
Data columns (total 53 columns):
userId        int64
topicId       int64
like_point    uint8
topicId_0     uint8
topicId_1     uint8
topicId_2     uint8
topicId_3     uint8
topicId_4     uint8
topicId_5     uint8
topicId_6     uint8
topicId_7     uint8
topicId_8     uint8
topicId_9     uint8
topicId_10    uint8
topicId_11    uint8
topicId_12    uint8
topicId_13    uint8
topicId_14    uint8
topicId_15    uint8
topicId_16    uint8
topicId_17    uint8
topicId_18    uint8
topicId_19    uint8
topicId_20    uint8
topicId_21    uint8
topicId_22    uint8
topicId_23    uint8
topicId_24    uint8
topicId_25    uint8
topicId_26    uint8
topicId_27    uint8
topicId_28    uint8
topicId_29    uint8
topicId_30    uint8
topicId_31    uint8
topicId_32    uint8
topicId_33    uint8
topicId_34    uint8
topicId_35    uint8
topicId_36    uint8
topicId_37    uint8
topicId_38    uint8
topicId_39    uint8
topicId_40    uint8
topicId_41    uint8
topicId_42    uint8
topicId_43    uint8
topicId_44    uint8
topicId_45    uint8
topicId_46    uint8
topicId_47    uint8
topicId_48    uint8
topicId_49    uint8
dtypes: int64(2), uint8(51)
memory usage: 1.3 GB

In [20]:
df_uf.head()

,userId,topicId,like_point,topicId_0,topicId_1,topicId_2,topicId_3,topicId_4,topicId_5,topicId_6,...,topicId_40,topicId_41,topicId_42,topicId_43,topicId_44,topicId_45,topicId_46,topicId_47,topicId_48,topicId_49
0,8,0,70,70,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,30,0,10,10,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,47,0,6,6,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,49,0,2,2,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,51,0,25,25,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [24]:
df_user_feature = df_uf.groupby(['userId'])[df_uf.filter(regex='topicId_.*').columns].sum()
df_user_feature.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 777579 entries, 8 to 2688642
Data columns (total 50 columns):
topicId_0     777579 non-null uint8
topicId_1     777579 non-null uint8
topicId_2     777579 non-null uint8
topicId_3     777579 non-null uint8
topicId_4     777579 non-null uint8
topicId_5     777579 non-null uint8
topicId_6     777579 non-null uint8
topicId_7     777579 non-null uint8
topicId_8     777579 non-null uint8
topicId_9     777579 non-null uint8
topicId_10    777579 non-null uint8
topicId_11    777579 non-null uint8
topicId_12    777579 non-null uint8
topicId_13    777579 non-null uint8
topicId_14    777579 non-null uint8
topicId_15    777579 non-null uint8
topicId_16    777579 non-null uint8
topicId_17    777579 non-null uint8
topicId_18    777579 non-null uint8
topicId_19    777579 non-null uint8
topicId_20    777579 non-null uint8
topicId_21    777579 non-null uint8
topicId_22    777579 non-null uint8
topicId_23    777579 non-null uint8
topicId_24    777579 non-null uint8
topicId_25    777579 non-null uint8
topicId_26    777579 non-null uint8
topicId_27    777579 non-null uint8
topicId_28    777579 non-null uint8
topicId_29    777579 non-null uint8
topicId_30    777579 non-null uint8
topicId_31    777579 non-null uint8
topicId_32    777579 non-null uint8
topicId_33    777579 non-null uint8
topicId_34    777579 non-null uint8
topicId_35    777579 non-null uint8
topicId_36    777579 non-null uint8
topicId_37    777579 non-null uint8
topicId_38    777579 non-null uint8
topicId_39    777579 non-null uint8
topicId_40    777579 non-null uint8
topicId_41    777579 non-null uint8
topicId_42    777579 non-null uint8
topicId_43    777579 non-null uint8
topicId_44    777579 non-null uint8
topicId_45    777579 non-null uint8
topicId_46    777579 non-null uint8
topicId_47    777579 non-null uint8
topicId_48    777579 non-null uint8
topicId_49    777579 non-null uint8
dtypes: uint8(50)
memory usage: 43.0 MB

In [25]:
df_user_feature.head(20)

,topicId_0,topicId_1,topicId_2,topicId_3,topicId_4,topicId_5,topicId_6,topicId_7,topicId_8,topicId_9,...,topicId_40,topicId_41,topicId_42,topicId_43,topicId_44,topicId_45,topicId_46,topicId_47,topicId_48,topicId_49
userId,,,,,,,,,,,,,,,,,,,,,
8,70,3,11,12,41,7,0,16,8,0,...,0,43,11,0,25,58,2,43,28,0
22,0,0,0,0,27,0,0,0,1,0,...,1,0,0,0,0,6,0,0,0,0
30,10,6,0,3,7,6,4,12,6,7,...,25,17,2,1,2,36,8,16,8,0
44,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,57,0,12
47,6,0,0,6,10,4,0,36,5,0,...,8,0,5,0,6,18,15,27,7,22
49,2,9,2,6,10,0,0,0,36,8,...,0,51,6,5,0,27,23,25,6,9
51,25,0,7,0,0,0,0,0,0,0,...,0,0,0,0,7,0,0,0,0,0
55,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,26,0,0
60,36,0,0,0,0,0,0,2,0,0,...,11,0,17,0,11,70,0,0,0,0
63,0,0,0,30,1,0,0,0,0,12,...,0,0,0,0,0,0,19,88,98,0
70,14,5,13,9,7,5,11,28,11,12,...,3,23,5,2,7,48,5,41,14,10
74,0,10,0,0,0,0,0,0,0,0,...,0,0,0,0,4,0,0,0,0,0
79,24,14,11,10,3,5,17,14,7,18,...,2,7,4,31,5,62,7,45,21,5
86,0,4,0,0,0,0,4,3,59,0,...,0,0,14,0,10,50,4,0,0,0
94,14,1,1,12,4,18,3,70,3,13,...,2,18,7,23,2,59,7,63,10,5
101,0,24,0,0,5,0,0,0,1,27,...,0,0,0,0,12,6,19,0,8,0
104,1,12,19,10,0,5,13,46,9,5,...,4,29,5,2,4,49,5,25,0,2
106,23,8,14,9,20,10,10,16,10,25,...,16,13,5,53,10,61,8,45,25,16
112,0,19,0,0,18,14,0,0,36,8,...,0,0,10,0,0,0,0,0,0,0
113,0,1,0,28,0,24,16,14,12,0,...,41,0,3,44,0,9,0,3,49,0